// --------------------------
// variables
// --------------------------

@luxus-icons-font-path: "../fonts" !default;
@fa-var-luxus-diamond: "\e800";
@fa-var-panico-olives: "\e801";
@fa-var-laulea-flower: "\e803";

// --------------------------
// path
// --------------------------

@font-face {
  font-family: "FontAwesome";
  src: url("@{luxus-icons-font-path}/luxus-icons.eot");
  src: url("@{luxus-icons-font-path}/luxus-icons.woff") format("woff"),
  url("@{luxus-icons-font-path}/luxus-icons.ttf") format("truetype"),
  url("@{luxus-icons-font-path}/luxus-icons.svg") format("svg");
  font-weight: normal;
  font-style: normal;
}

// --------------------------
// icons
// --------------------------

.@{fa-css-prefix}-laulea-flower:before {
  content: @fa-var-laulea-flower;
}

.@{fa-css-prefix}-luxus-diamond:before {
  content: @fa-var-luxus-diamond;
}

.@{fa-css-prefix}-panico-olives:before {
  content: @fa-var-panico-olives;
}
